<article class="card">
	<div class="thumbnail">
		<p><img id="image" src = "{{url}}"/></p>
	</div>
	<div class="content">
		<p class="caption">
			<a href = "#{{@key}}">{{title}}</a>
		</p>
		<p class="author">{{author}}</p>
	</div>
</article>