article {
  display: block;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@-ms-viewport {
	width: device-width;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 35px;
  font-weight: 100;
  background-color: #2c2c32;
  color: #ffffff;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}

body {
  font-family: Brush Script Std, Brush Script MT, cursive;
  font-size: 20px;  
  background-color: #202024;
}

.navbar {
  color: #fff;
  font-size: 26px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
  float: right;
}

a:hover,
a:focus {
  color: #ffffff;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navbar-search {
  margin-right: 20px;
  padding: 0;
  line-height: 44px;
  float: left;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

.card-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-container .card {
	margin: 0 1em 2em 1em;
	width: 30%;
}

@media screen and (max-width: 1280px) {

	.card-container .card {
		width: 45%;
	}

}

@media screen and (max-width: 736px) {

	.card-container .card {
		width: 100%;
	}

}

.card {
    flex: 0 1 28%;
    display: flex;
	border-radius: 4px;
	margin-bottom: 2em;
	background: #2c2c32;
	text-align: center;
}

.card > :last-child,
.card > :last-child > :last-child,
.card > :last-child > :last-child > :last-child {
	margin-bottom: 0;
}

.card .thumbnail {
	margin: 0;
}

.card .thumbnail img {
	border-radius: 4px 4px 0 0;
}

.card .content {
	padding: 1.5em;
	width: 100% !important;
}

@media screen and (max-width: 480px) {

	.card .content {
		padding: 1em;
	}

}

.thumbnail {
  flex: 1 1 80%;
  text-align: center;
}

.content {
  flex: 1 1 80%;
  text-align: center;
  font-family: Impact;
}

img {
  max-width: 100%;
  max-height: 100%;
  min-width: 150px;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#upload-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.twit-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #319df6;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #087dde;
}

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}

