.site-title {
	font-family: "Pacifico";
	font-size: 42px;
	color: rgb(45,45,45);
	padding: 0px;
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	text-align: center;
}

.navbar{
	background-color: rgb(45,45,45);
	padding: 10px;
}

.navlist{
	list-style-type: none;
	margin: 0px 20px 0px 20px;
	padding: 0px;
	overflow: hidden;
	display: inline;
}

.navitem{
	display: inline-block;
	font-family: "Roboto", serif;
	text-decoration: none;
	font-size: 18px;
}

.navitem a{
	display: inline-block;
	padding: 8px;
	color: rgb(200,200,200);
}

a{
	text-decoration: none;
	
}

.navitem a:hover,
.navitem a:focus {
	color: white;
}

.instruction-container{
	margin: 50px 10%;
	display: flex;
	background-color: white;
}

.step{
	font-family: "Roboto";
}

.caption a {
	color: black;
}

.caption a:hover{
	color: rgb(100,100,100);
}

#image{
	height: auto;
	width: auto;
	max-height: 180px;
}

.navbar-search {
	float: right;
	padding: 4px;
}

#navbar-search-input {
	background-color: rgb(238,238,238);
	border: 0px;
	height: 20px;
	padding: 5px;
	font-size: 14px;
	
}

#navbar-search-input:focus{
	background-color: white;
}

#navbar-search-button {
	background-color: rgb(45,45,45);
	color: rgb(200,200,200);
	border: 0px;
	height: 20px;
	display: inline-block;
}

#navbar-search-button :hover{
	cursor: pointer;
	color: white;
}

.card-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 0 27%;
	padding: 10px;
	border-radius: 4px;
	background-color: white;
	font-family: "Roboto", serif;
	font-size: 16px;
	margin: 5px;
	position: relative;
	display: flex;
	overflow: hide;
}

.content {
  flex: 10 100%;
	padding: 5px;
	min-width: 100px;
}

.thumbnail {
	padding: 5px;
}

header{
	margin: 0px;
	background-color: white;
}

body{
	background-color: rgb(45,45,45);
	margin: 0px;
}

.input-element {
  font-size: 20px;
  margin: 10px 0;
  font-family: "Roboto";
}

.input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.input-element input,
.input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.input-element textarea {
  min-height: 64px;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#upload-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  font-family: "Roboto";
  background-color: #eee;
  color: #333;
  border: 0px solid #333;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: white;
}

.modal-footer .modal-accept-button {
  color: #black;
}

.modal-footer .modal-accept-button:hover {
  background-color: white;
}

h3 {
	font-family: "Roboto";
	color: black;
}